<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/cover.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Inventory Tracking System</ion-card-subtitle>
        <ion-card-title>Logister</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>An online platform with easy access to record and keep track of your product stock quantity.</p>
      </ion-card-content>
    </ion-card>
    <ion-searchbar (ionChange)=search($event) color='medium'></ion-searchbar>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">

      <ion-refresher-content></ion-refresher-content>
  
    </ion-refresher>
    <ion-grid>

      <ion-row>
  
        <ion-col size="6" *ngFor="let item of products" [routerLink]="['/edit-product', item.id]">
  
          <div class="product-card">
  
            <img [src]=item.image alt="" class="image-card">
  
            <div>Name: {{item.name}}</div>
            <div>Unit Price: {{item.price | currency}}</div>
            <div>Quantity: {{item.quantity}}</div>
            <div>Last Updated: {{item.date | date:'medium'}}</div> 
  
          </div>
  
        </ion-col>
  
      </ion-row>
  
    </ion-grid>


</ion-content>